


 <!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Công nghệ TATTOOSTAR EFFECT  xóa sạch Xăm - Không đau - Không sẹo</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='media/images/favicon.png')}}" />
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='media/jquery.fullPage.css')}}" />
        <!--<link href="media/css/pc.css" rel="stylesheet" type="text/css"/>-->
        <link href="{{ url_for('static', filename='custom-css/custom-css.css')}}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <div class="back">
            <div>
                <a href="#p1" class="logo"><img src="{{ url_for('static', filename='')}}media/images/logo.png" alt=""></a>
                <ul id="menu" class="menu">
                    <li data-menuanchor="p2"><a href="#p2">Xóa Xăm</a></li>
                    <li data-menuanchor="p3"><a href="#p3">Công nghệ TattooStar Effect</a></li>
                    <li data-menuanchor="p4"><a href="#p4">Quy trình</a></li>
                    <li data-menuanchor="p5"><a href="#p5">Khuyến mãi</a></li>
                    <li data-menuanchor="p6"><a href="#p6">Bích Nguyệt</a></li>
                </ul>
                <a class="nav-bt"><i class="fa fa-bars"></i> Danh mục</a>

            </div>
            <ul class="danhmuc">
                <li><a href="#p1">Trang chủ</a></li>
                <li><a href="#p2">Xóa Xăm</a></li>
                <li><a href="#p3">Công nghệ Ruby Laser</a></li>
                <li><a href="#p4">Quy trình</a></li>
                <li><a href="#p5">Khuyến mãi</a></li>
                <li><a href="#p6">Ưu đãi</a></li>
                <li><a href="#ss-form" rel="modal:open" class="dk btnda1km " id="trigger_click">Đăng ký</a></li>
            </ul>
        </div>
        <div id="fullpage" class="main">
            <section class="page1 section" id="section1">
                <div class="page_container">
                    <div id="dangky"></div>
                    <!--<div class="headline"><img src="media/images/headline.png" alt=""><span><img src="media/images/headline-mb.png"></span></div>-->
                    <!--<div class="subhl"><img src="media/images/sub-headline.png"></div>-->
                    <div class="ldxx-slideMobile">
                    <img src="{{ url_for('static', filename='media/images/slide649-768.png')}}" alt=""/>
                    </div>
                    <div class="page1-reg">
                        <a href="#ss-form" rel="modal:open" class="dk btnda1km "><img src="{{ url_for('static', filename='media/images/dangky.png')}}"></a>
                    </div>
                </div>
            </section>

            <section class="page2 section" id="section2">
                <div class="page_container">
                    <div class="tdesub">CƠ CHẾ XÓA XĂM TATTOOSTAR EFFECT KHÁC BIỆT NHƯ THẾ NÀO?</div>
                    <div class="line"></div>
                    <div class="tab coche">
                        <div class="giaiphap">
                            <figure>
                                <img src="{{ url_for('static', filename='media/images/coche1.png')}}" alt="">
                                <figcaption>Cường độ phát xung có độ tập trung cao, thời gian tác động siêu nhanh sẽ phá vỡ toàn bộ cấu trúc & đường nét hình xăm</figcaption>
                            </figure>
                            <figure>
                                <img src="{{ url_for('static', filename='media/images/coche2.png')}}" alt="">
                                <figcaption>Tia Laser chỉ hấp thụ mực xăm, nên an toàn cho các vùng da khác</figcaption>
                            </figure>
                            <figure>
                                <img src="{{ url_for('static', filename='media/images/coche3.png')}}" alt="">
                                <figcaption>Khả năng làm mát tự động sẽ không gây bỏng rát, ửng đỏ</figcaption>
                            </figure>
                            <div class="dkn">
                                <a href="#ss-form" rel="modal:open" class="dk btnda1km "><img src="{{ url_for('static', filename='media/images/dangky.png')}}"></a>
                            </div>
                        </div>
                        <div>
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/zNtLpdJ5iHM" frameborder="0" allowfullscreen></iframe>
                            <p style="text-align:center;font-weight:bold">Video chứng minh hiệu quả xóa xăm</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page3 section" id="section3" style="background-color: #eeecde;">
                <div class="page_container">
                    <div class="tdesub">CHUYÊN GIA NHẬN ĐỊNH VỀ TattooStar Effect HOA KỲ</div>
                    <div class="line"></div>
                    <div class="row util">
                        <div><img src="{{ url_for('static', filename='media/images/nhandinh.png')}}"/></div>
                        <div>
                            <h3>HIỆU QUẢ</h3>
                            <ul>
                                <li>Xóa được cả những màu xăm khó xóa nhất (đỏ, đen, xanh lá cây, xanh nước biển)</li>

                            </ul>
                            <h3>AN TOÀN</h3>
                            <ul>
                                <li>Không  tê rát, đỏ ửng hay phồng rộp sau thực hiện</li>
                                <li>Khi thuốc tê hết tác dụng, chỉ có cảm giác châm chích nhẹ như kiến bò</li>
                            </ul>
                            <h3>KHÔNG ĐỂ LẠI SẸO</h3>
                            <ul>
                                <li>Không làm tổn thương da, không để lại sẹo</li>
                                <li>Áp dụng cho cả vùng da mỏng, có cơ địa yếu</li>
                            </ul>
                            <p><a href="#ss-form" rel="modal:open" class="dk btnda1km "><img src="{{ url_for('static', filename='media/images/dangky.png')}}"></a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page4 section" id="section4">
                <div id="pg4" style="position:relative;top:-25px"></div>
                <div class="page_container">
                    <div class="tdesub">QUY TRÌNH XÓA XĂM BẰNG CÔNG NGHỆ TattooStar Effect</div>
                    <div class="line"></div>
                    <img class="process_pic" src="{{ url_for('static', filename='media/images/quytrinh.png')}}"/>
                    <div class="ketqua mb">
                        <p>Bác sĩ tư vấn, xem kích thước hình xăm đưa ra liệu trình phù hợp</p>
                        <p>Sát trùng, gây tê vùng da cần xóa xăm</p>
                        <p>Tiến hành xóa xăm bằng công nghệ Ruby Laser</p>
                        <p>Bôi kem tái tạo da</p>
                    </div>
                    <div class="row process_slogan">

                        <div><a href="#ss-form" rel="modal:open" class="dk btnda1km "><img src="{{ url_for('static', filename='media/images/dangky.png')}}"></a></div>
                    </div>


                </div>
            </section>
            <section class="page5 section" id="section5">
                <div id="pg5" style="position:relative;top:-25px"></div>
                <div class="page_container">

                    <div class="pricebox">
                        <div class="price_ct">
                            <div style="background-color: #f3d374;">
                                <div class="price_tt">Chi phí và Ưu đãi</div>
                            </div>
                            <table class="price_tab">
                                <tr>
                                    <td>dịch vụ xóa xăm</td>
                                    <td>Chi phí gốc (triệu đồng)</td>
                                    <td>Chi phí ưu đãi (triệu đồng)</td>
                                </tr>
                                <tr>
                                    <td>Xóa xăm mí mắt</td>
                                    <td>3</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td>Xóa xăm lông mày</td>
                                    <td>4</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Xóa xăm môi</td>
                                    <td>4</td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td>Hình xăm diện tích Dưới 2 cm2</td>
                                    <td>3</td>
                                    <td>1.5</td>

                                </tr>
                                <tr>
                                    <td>Hình xăm Từ 2cm2 đến dưới 4cm2</td>
                                    <td>5</td>
                                    <td>2.5</td>

                                </tr>
                                <tr>
                                    <td>Hình xăm Từ 4cm2 đến dưới 6cm2</td>
                                    <td>7</td>
                                    <td>3.5</td>
                                </tr>
                                <tr>
                                    <td>Hình xăm Từ 6cm2 đến dưới 8cm2</td>
                                    <td>10</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Hình xăm Từ 8cm2 đến dưới 10cm2</td>
                                    <td>12-13</td>
                                    <td>6-6.5</td>
                                </tr>
                                <tr>
                                    <td>Hình xăm Trên 10cm2</td>
                                    <td>13-15</td>
                                    <td>6.5-7.5</td>
                                </tr>
                            </table>
                        </div>
                        <p><b><i>ĐẶC BIỆT:</i></b> Chương trình ưu đãi 50%</p>
                        <p><b>(Áp dụng: 26/10/2016 - 26/10/2017 tại tất cả cơ sở của Bích Nguyệt)</b></p>
                        <p class="price_reg"><a href="#ss-form" rel="modal:open" class="dk btnda1km "><img src="{{ url_for('static', filename='media/images/dangky.png')}}"></a></p>
                    </div>

                </div>
            </section>
            <section class="page6 section" id="section6">
                <div id="pg6" style="position:relative;top:-25px"></div>
                <div class="page_container">
                    <div class="tdesub">THẨM MỸ VIỆN Bích nguyệt – TRUNG TÂM XÓA HÌNH XĂM CÔNG NGHỆ CAO</div>
                    <div class="line"></div>
                    <div class="different2">
                        <article>
                            <div>
                                <img src="{{ url_for('static', filename='media/images/bv1.png')}}" />
                                <p>Ứng dụng công nghệ xóa xăm Hoa Kỳ</p>
                            </div>
                        </article>
                        <article>
                            <div>
                                <img src="{{ url_for('static', filename='media/images/bv2.png')}}" />
                                <p>Quy tụ đội ngũ bác sĩ giỏi Việt Nam và Quốc tế</p>
                            </div>
                        </article>
                        <article>
                            <div>
                                <img src="{{ url_for('static', filename='media/images/bv3.png')}}" />
                                <p>Quy trình an toàn, chuyên nghiệp, chuẩn Bộ Y tế</p>
                            </div>
                        </article>
                        <article>
                            <div>
                                <img src="{{ url_for('static', filename='media/images/bv4.png')}}" />
                                <p>Phòng khám chuyên gia, đầy đủ trang thiết bị</p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <footer class="ldtn-footer-info-section ldtn-section page6 section">
                <div class="container">
                    <div class="col-md-4 col-sm-4 ldtn-footer-info">
                        <div class="ldtn-footer-info-title">
                            HỆ THỐNG THẨM MỸ VIỆN BÍCH NGUYỆT
                        </div>
                        <ul class="ldtn-footer-info-list">
                            <li>
                                <b>Địa chỉ 1:</b> 7C Lê Đại Hành, Hai Bà Trưng, Hà Nội
                            </li>
                            <li>
                                <b>Địa chỉ 2:</b> 57 Nguyễn Công Hoan, Ba Đình, Hà Nội
                            </li>
                            <li>
                                <b>Website:</b> <a href="http://bichnguyetspa.vn/">bichnguyetspa.vn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 ldtn-footer-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d391.4989603578733!2d105.85003037369904!3d21.00919441822982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0a2aa7608147280!2zVGjhuqltIG3hu7kgdmnhu4duIELDrWNoIE5ndXnhu4d0!5e0!3m2!1sen!2s!4v1467947004123" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-4 col-sm-4 ldtn-footer-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3131.616714484213!2d105.81232973360191!3d21.02704838966942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab6e8b1ed16f%3A0x7f1ebe83ec1dc258!2zNTcgTmd1eeG7hW4gQ8O0bmcgSG9hbiwgR2nhuqNuZyBWw7UsIEJhIMSQw6xuaCwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1467946521448" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </footer>
        </div>

        <div class="ftadbox">
            <div class="ftad effect">
                <div class="reg"><a href="#ss-form" rel="modal:open" class="clearfix btnda1km"><i class="fa fa-pencil-square-o"></i>Đăng ký</a></div>
            </div>
        </div>
        <script>
            var cb = function () {
                var l = document.createElement('link');
                l.rel = 'stylesheet';
                l.href = '{{ url_for('static', filename='lib_xx/font-awesome/css/font-awesome.min.css')}}';
                var h = document.getElementsByTagName('head')[0];
                h.parentNode.insertBefore(l, h);
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                    webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf)
                raf(cb);
            else
                window.addEventListener('load', cb);
        </script>

        <script src="{{ url_for('static', filename='media/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='media/jquery-ui.min.js')}}"></script>
        <script type=text/javascript" src="{{ url_for('static', filename='media/jquery.slimscroll.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='media/jquery.fullPage.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='media/js.js')}}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#fullpage').fullpage({
                    sectionsColor: ['#fff', '#fff', '#eeecde', '#fff', '#eeecde', '#fff', '#fff'],
                    anchors: ['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7'],
                    menu: '#menu',
                    continuousVertical: false,
                    navigation: true,
                    navigationPosition: 'right',
                    navigationTooltips: ['Trang chủ', 'Công nghệ', 'Quy trình', ' Khách hàng', 'Khuyến mãi', 'Hợp tác'],
                    responsive: 680
                });
                $(".nav-bt").click(function () {
                    $(".danhmuc").toggle();
                });
                $(".danhmuc a").click(function () {
                    $(".danhmuc").hide();
                });
                $(".close").click(function () {
                    $(".alopop").hide();
                    $(".ftad").show();
                });
                $(".dangky-top ").click(function () {
                    $(".alopop").show();
                });
                $(".dky-bt2").click(function () {
                    $(".alopop").show();
                });
                $(".dky-bt").click(function () {
                    $(".alopop").show();
                });

                $(".page1-saleoff a").click(function () {
                    $(".alopop").show();
                });
                $(".quyenloi a").click(function () {
                    $(".alopop").show();
                });
                $(".tech-clip a").click(function () {
                    $(".alopop").show();
                });
                $(".fct input").click(function () {
                    $(".ftad").hide();
                });
                $(".submit_s").click(function () {
                    $(".ftad").show();
                });

                $(".vd_qtmb a").click(function () {
                    $(".alopop").show();
                });
                $(".trailer").click(function () {
                    $(".alopop").show();
                });
                $(".cn_vd,.dk,.congnghe a,.play2 a,.udai2 a").click(function () {
                    $(".alopop").show();
                });

            });
        </script>

        <link href="{{ url_for('static', filename='lib_xx/jquery-modal-master/jquery.modal.min.css')}}" rel="stylesheet" type="text/css"/>
        <script src="{{ url_for('static', filename='lib_xx/jquery-modal-master/jquery.modal.min.js')}}" type="text/javascript"></script>

        <!-- Popup form -->
        <form action="/" method="POST" id="ss-form" class="ldT2-form-popup login_form modal" target="hidden_iframe" onsubmit="" style="display:none;">
            <h3>Đăng ký để được tư vấn</h3>
            <ol role="list" class="ss-question-list" style="padding-left: 0;">
                    <div class="messenge_error" style="color: #f00; text-align:center;">
                     {% for field in form if field.widget.input_type != 'hidden' %}
                        {% if field.errors %}
                        <div class='alert alert-danger'>
                            {%for error in field.errors%}
                                {{error}}</br>
                            {%endfor%}
                        </div>
                        {%endif%}
                    {%endfor%}
                  </div>

                    {{ form.hidden_tag() }}
                    <div class="ss-form-question errorbox-good" role="listitem">
                        <div dir="auto" class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-item-label">
                                    <div class="ss-q-title">Họ &amp; tên
                                        <label aria-label="(Required field)"></label>
                                        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                                </label>
                                <input type="text" name="name" {%if form.data.name%} value="{{form.data.name|safe}}" {%endif%} placeholder='Họ & tên' required oninvalid="setCustomValidity('Họ & tên không chính xác!')" oninput="setCustomValidity('')"/>
                            </div>
                        </div>
                    </div>

                    <div class="ss-form-question errorbox-good" role="listitem">
                        <div dir="auto" class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-item-label" >
                                    <div class="ss-q-title">Số điện thoại
                                        <label  aria-label="(Required field)"></label>
                                        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                                </label>
                                <input type="text" id="phone" name="phone" value={%if form.data.phone%} "{{form.data.phone|safe}}" {%else%} "" {%endif%} placeholder='Số điện thoại' required pattern="^[0-9]{10,12}$" oninvalid="setCustomValidity('Số điện thoại không chính xác')" oninput="setCustomValidity('')"/>
                            </div>
                        </div>
                    </div>

                    <div class="ss-form-question errorbox-good" role="listitem">
                        <div dir="auto" class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-item-label">
                                    <div class="ss-q-title">Email
                                        <label aria-label="(Required field)"></label>
                                        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                                </label>
                                <input type="text" name="email" value={%if form.data.email%} "{{form.data.email|safe}}" {%else%} "" {%endif%} class='insert-attr' placeholder='Địa chỉ email' required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninvalid="setCustomValidity('Email không chính xác!')" oninput="setCustomValidity('')"/>
                            </div>
                        </div>
                    </div>

                   <div class="ss-form-question errorbox-good" role="listitem">
                        <div dir="auto" class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-item-label">
                                    <div class="ss-q-title">Địa chỉ
                                        <label aria-label="(Required field)"></label>
                                        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                                </label>
                                <input type="text" id="address" name="address" value={%if form.data.address%} "{{form.data.address|safe}}" {%else%} "" {%endif%} placeholder='Địa chỉ' required oninvalid="setCustomValidity('Địa chỉ không chính xác')" oninput="setCustomValidity('')"/>
                            </div>
                        </div>
                    </div>

                    <div class="ss-form-question errorbox-good" role="listitem">
                        <div dir="auto" class="ss-item ss-item-required ss-paragraph-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-item-label">
                                    <div class="ss-q-title">Nội dung cần tư vấn
                                        <label aria-label="(Required field)"></label>
                                        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                                </label>
                                <textarea name="nd_tuvan" rows="4" cols="0" class="ss-q-long" id="entry_1626018955" dir="auto" aria-label="Nội dung cần tư vấn  " aria-required="true" required oninvalid="setCustomValidity('Nội dung cần tư vấn không chính xác!')" oninput="setCustomValidity('')">{%if form.data.nd_tuvan%}{{form.data.nd_tuvan|safe}}{%endif%}</textarea>
                            </div>
                        </div>
                    </div>
                <div class="ss-item ss-navigate ldtn-submit-wrap text-center">
                    <input type="submit" name="submit" value="Đăng ký" class="jfk-button jfk-button-action ldtn-res-btn">
                </div>
            </ol>
            <h4 class="ld2-notice"></h4>
        </form>



    <script src="//cdn.accesstrade.vn/js/tracking.js" ></script>
    <script type="text/javascript">
        AT.track();
        function clearValidity() {
            document.getElementById('yes').setCustomValidity('');
        }

        function onInvalidCustom(idstr) {
            var me = document.getElementById(idstr);
            me.setCustomValidity('Số điện thoại không chính xác');
            //me.setCustomValidity('');
        }

        function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
        }
            //alert(getCookie("_aff_network") + "|" + getCookie("_aff_sid"))
            $("#aff_source").val(getCookie("_aff_network"));
            $("#aff_sid").val(getCookie("_aff_sid"));

    </script>

  <script>
        $(document).ready(function(){
                $check_error = 0;
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% if field.errors %}
                        if($check_error==0){
                            jQuery('#trigger_click').trigger('click');
                        }
                       $check_error = $check_error + 1;
                    {%endif%}
                {%endfor%}

            });
        $(document).ready(function(){
                $('input[name=email]').keyup(function() {
                      this.value = this.value.toLowerCase();
                    });
              });
    </script>
    </body>
</html>

 <!--{"properties": [-->
     <!--{"property": "identifier", "value": "1e1633cb-cf6e-43f4-ad01-3c813c8b85f5"},-->
     <!--{"property": "firstname", "value": "Pham van Kien"},-->
     <!--{"property": "lastname", "value": ""},-->
     <!--{"property": "email", "value": "xombinhyen09@gmail.com"},-->
     <!--{"property": "phone", "value": "01635243892"},-->
     <!--{"property": "hs_lead_status", "value": "NEW"},-->
     <!--{"property": "at_check", "value": "NEW_STATUS"},-->
     <!--{"property": "bn_check", "value": "NEW_STATUS"},-->
     <!--{"property": "nd_tuvan", "value": "asdsad"},-->
     <!--{"property": "aff_source", "value": ""},-->
     <!--{"property": "aff_sid", "value": ""}-->
 <!--]}-->

